{% extends 'base_new.html' %}
{% load static %}

{% block head_block %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/justifiedGallery.min.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

{% endblock %}

{% block body_block %}
    {% for gallery in gallery_list %}
        <div class="row pt-3 text-center">
            <h1 class="mx-auto my-0">{{ gallery.title|safe }}</h1>
            <h4 class="mx-auto mt-2 mb-5 text-muted">{{ gallery.description }}</h4>
        </div>
    {% endfor %}
    <div class="container container-fluid pt-5 pb-5">
        <div id="imageGallery">
            {% for image in images %}
                <a href="{{ image.image_file.url }}" title="{{ image.title }}" data-lightbox="photos">
                    <img alt="{{ image.description }}" src="{{ image.image_file.url }}"/>
                </a>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="{% static 'js/jquery.justifiedGallery.min.js' %}"></script>
    <script>
        $("#imageGallery").justifiedGallery({
            rowHeight: 250,
            margins: 5,
            randomize: true,
        });
    </script>

{% endblock %}
