{%extends "base.html"%}
{%block body_block%}
    <div class="container-fluid bg-dark bg-opacity-75" style="padding-top: 5rem;"></div>
        <div class="row pt-4 pt-lg-5 pb-4 pb-lg-5">
        <div class="col-4"></div>
            <div class="col-4">
        {%for post in post_list%}
            {% if post.date != '' %}
                <h1><a href="{%url 'blog:post_detail' pk=post.pk%}">{{post.title}}</a></h1>
                    <p>Published on: {{post.date|date:"D M Y"}}</p>
            {% endif %}
        {% empty %}
            <p>No posts yet!</p>
        {%endfor%}
        <div class="col4"></div>
        </div>
        </div>
    {{ post.media }}
{%endblock%}
