<!DOCTYPE html>
{% extends 'base_new.html' %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% block body_block %}

    <div id="about-me" class="container pt-3 text-left about-me">
        <div class="row">
            <h1>Un poco acerca de mí</h1>
        </div>
<div class="row pt-3">
    <div class="col-8 custom-justify">{{ content.about_me }}</div>
    <div class="col-4"><img src="{{ content.portrait.url }}" class="img-fluid img-thumbnail" alt="Portrait"></div>
</div>
    </div>
    <hr>
{% endblock %}
