<!DOCTYPE html>
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Primary Meta Tags --> <!-- this is the default metadata which all websites can draw on -->
    <title>Camila Sanfuentes</title>
    <meta name="title" content="Camila Sanfuentes">
    <meta name="description" content="Fotografía de naturaleza">

<!-- Open Graph / Facebook --> <!-- this is what Facebook and other social websites will draw on -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.camilasanfuentes.com">
    <meta property="og:title" content="Camila Sanfuentes">
    <meta property="og:description" content="Fotografía de naturaleza">
    <meta property="og:image" content="{% static 'assets/meta_photo.jpeg' %}">
    <title>Camila Sanfuentes</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />

    {% block head_block %}
    {% endblock %}
</head>
<body id="page-top">
<!-- Navigation-->
<div class="clearfix">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'index' %}">Camila Sanfuentes</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Galerias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'gallery:paisajes' %}">Paisajes</a></li>
                        <li><a class="dropdown-item" href="{% url 'gallery:macro' %}">Macrofotografia</a></li>
                        <li><a class="dropdown-item" href="{% url 'gallery:fauna' %}">Fauna</a></li>
                        <li><a class="dropdown-item" href="{% url 'gallery:black_and_white' %}">Blanco y Negro</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'blog:post_list' %}">Blog</a></li>
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'blog:new_post' %}">Agregar nuevo post</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#signup">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#about">Acerca de</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout'  %}">{{ user.username }}: Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% block body_block %}
{% endblock %}

<section class="contact-section bg-black" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="mailto:sanfuentes.camila@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
            <a class="mx-2" href="https://500px.com/p/camilasanfuentes" target="_blank" rel="noopener noreferrer"><i class="fab fa-500px"></i></a>
            <a class="mx-2" href="https://www.instagram.com/camilasanfuentes.photo/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Camila Sanfuentes 2021</div></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</div>
</body>
</html>
