<!DOCTYPE html>
{% extends 'base_new.html' %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% block body_block %}

    <div id="carousel" class="carousel slide h-85 pt-2" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for image in carousel_images %}
                {% if forloop.first %}
                    <div class="carousel-item active">
                        <img src="{{ image.image_file.url }}" class="d-block w-100 img-fluid h-85" alt="...">
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <img src="{{ image.image_file.url }}" class="d-block w-100 img-fluid h-85" alt="...">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="galleries" class="container pt-5 text-center gallery">
        <div class="row">
            <h1>Galerias</h1>
        </div>
        <div class="row pt-3">
            {% for gallery in galleries %}
                <div class="col-6 col-lg text-center">
                    <div class="card border-0">
                        <a href="/gallery/{{ gallery.title }}">
                        {% if gallery.gallery_top_image %}
                            <img src="{{ gallery.gallery_top_image.url }}"  class="card-img-top" alt="{{ gallery.description }}">
                        {% else %}
                            <img src="" class="card-img-top" alt="{{gallery.description}}">
                        {% endif %}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ gallery.title }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
{% endblock %}
